@model SmartTrip.Models.SceneryViewModel

@{
    ViewBag.Title = "Edit a Scenery";
}

@using (Html.BeginForm("Edit","Scenery",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   @Html.AntiForgeryToken();

    <div class="form-group">
        @Html.LabelFor(x => x.Scenery.SceneryName)
        @Html.EditorFor(x => x.Scenery.SceneryName)
    </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Scenery.Star)
            @Html.EditorFor(x => x.Scenery.Star)
        </div>


        <div class="form-group">
            @Html.LabelFor(x => x.Scenery.Summary)
            @Html.EditorFor(x => x.Scenery.Summary)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Scenery.Ticket)
            @Html.EditorFor(x => x.Scenery.Ticket)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Scenery.OpenTime)
            @Html.EditorFor(x => x.Scenery.OpenTime)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Scenery.Traffic)
            @Html.EditorFor(x => x.Scenery.Traffic)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Scenery.WebUrl)
            @Html.EditorFor(x => x.Scenery.WebUrl)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Scenery.Category)
            @Html.DropDownListFor(x => x.Scenery.Category, Model.Categories)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Scenery.Telephone)
            @Html.EditorFor(x => x.Scenery.Telephone)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Scenery.Price)
            @Html.EditorFor(x => x.Scenery.Price)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Scenery.Currency)
            @Html.DropDownListFor(x => x.Scenery.Currency, Model.Currencies)
        </div>


        <div class="form-group">
            @Html.LabelFor(x => x.Scenery.City)
            @Html.DropDownListFor(x => x.Scenery.CityId, Model.Cities)
        </div>

        <div class="form-group">

            <input type="file" name="files" id="file1" />
            <input type="file" name="files" id="file2" />
            <input type="file" name="files" id="file3" />
        </div>


        <input type="submit" value="submit" class="btn btn-default" />
}

