@model SmartTrip.Models.Transit

@{
    ViewBag.Title = "Edit a Transit";
}

@using (Html.BeginForm("Edit","Transit",FormMethod.Post))
{
   @Html.AntiForgeryToken();

    <div class="form-group">
        @Html.LabelFor(x => x.TransitName)
        @Html.EditorFor(x => x.TransitName)
    </div>

        <div class="form-group">
            @Html.LabelFor(x => x.TransitType)
            @Html.EditorFor(x => x.TransitType)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.TransitNumber)
            @Html.EditorFor(x => x.TransitNumber)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.StartingCity)
            @Html.EditorFor(x => x.StartingCity)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.DestinationCity)
            @Html.EditorFor(x => x.DestinationCity)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.StartTime)
            @Html.EditorFor(x => x.StartTime)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.EndTime)
            @Html.EditorFor(x => x.EndTime)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Price)
            @Html.EditorFor(x => x.Price)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Currency)
            @Html.EditorFor(x => x.Currency)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Amount)
            @Html.EditorFor(x => x.Amount)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Memo)
            @Html.EditorFor(x => x.Memo)
        </div>


        <div class="form-group">
            @Html.LabelFor(x => x.UserName)
            @Html.EditorFor(x => x.UserName)
        </div>


        <input type="submit" value="submit" class="btn btn-default" />
}

