@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class=" carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">


        <div class="item active">

            <img src="@Url.Content("~/images/"+Model[0].ImageUrl)" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>

                        <a class="btn btn-default btn-default" href="/Trip/TripSchedule/@Model[0].Id">
                            @Model[0].TripName
                        </a>
                    </p>
                </div>
            </div>
        </div>
        
        @for (int i =1; i < Model.Count; i++)
        {
         
        <div class="item ">

            <img src="@Url.Content("~/images/"+Model[i].ImageUrl)"   class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                       
                        <a class="btn btn-default btn-default" href="/Trip/TripSchedule/@Model[i].Id">
                          @Model[i].TripName
                        </a>
                    </p>
                </div>
            </div>
        </div>
        
        }
    </div>
</div>


</br>
<div>
<h4>行程计划</h4>
</div>

@if (Model.Count == 0)
{

    <h4>No Trip Items</h4>
    <a href="/Trip/TripStartTime/" class=" btn btn-xs btn-material-teal-500 btn-fab btn-flat btn-raised mdi-content-add"> </a>


}
else
{

    <div class="row">
        @foreach (var trip in Model)
                {

            <div class="col-sm-5 col-md-5">
                <div class="thumbnail">

                    <img alt="@trip.TripName" src="@Url.Content("~/images/"+trip.ImageUrl)" width="300" height="250" />

                    <div class="label label-info floating-label label-material-teal-500 "> @trip.TripName</div>

                    <a href="/Trip/TripSchedule/@trip.Id" class="btn btn-xs btn-sm btn-material-teal-500 btn-fab btn-flat btn-raised mdi-image-image "></a>
                   
                </div>
            </div>

        }
    </div>
}
