@model SmartTrip.Models.ScheduleViewModel 

@{
    ViewBag.Title = "Trip Schedule Detail";
}


@using System.Security.Claims

@{
    var userId = User.GetUserId();
              
}






@* Markup removed for brevity *@

    
        @if (Model.Sceneries.Count == 0)
        {
            <h4>No Schedule Detail</h4>
        }
        else
        {
               

                <div class="row">
                    <div class="col-sm-4">
                        <div class="list-group">
                            @foreach (var scenery in Model.Sceneries)
                            {
                                <div class="list-group-item">
                                    <div class="row-picture circle">

                                        <img src="@Url.Content("~/images/"+scenery.ImageUrl)">
                                    </div>

                                    <div class="row-content">
                                        <a href="@Html.ActionLink("Scenery", "Index", "Scenery", new { id = scenery.Id })">@scenery.SceneryName</a>


                                    </div>
                                </div>
                                <div class="list-group-separator"></div>

                            }
                        </div>
                        </div>
                    </div>

            }



                @if(userId == Model.Schedule.UserName)
                { 
                    <div class="btn btn-flat btn-material-teal-400 "> @Html.ActionLink("City", "AddCity", "Trip", new { id = Model.Schedule.Id })</div>
                    <div class="btn btn-flat btn-material-teal-400 "> @Html.ActionLink("Scenery", "AddScenery", "Trip", new { id = Model.Schedule.Id })</div>
                }   


