@model SmartTrip.Models.TripViewModel
    
@{
    ViewBag.Title = "Set Order and Days";
    
}
   
@using (Html.BeginForm("TripOrderDays","Trip",  FormMethod.Post,new {@class="form-horizontal"}))
{
        @Html.AntiForgeryToken();

    
        <ol id="TripList" class="list-group" >

            @for (int i=0; i <  Model.Cities.Count; i++)
            {
              <li  class="list-group-item" >

                 
                  @Html.DisplayFor(m => m.Cities[i].CityName)
                 
           
                 

                      @Html.LabelFor(m => m.Cities[i].Days)

                      @Html.TextBoxFor(m => m.Cities[i].Days, new { @id = Model.Cities[i].Id, @type = "number" })


                      @Html.HiddenFor(m => m.Cities[i].CityName, Model.Cities[i].CityName)

                      @Html.HiddenFor(m => m.Cities[i].CountryId,Model.Cities[i].CountryId)

                    
                      <div  class="slider shor@(Model.Cities[i].Id)  slider-material-green-900"></div>
                 

               </li>
            
            }

        </ol>

        <input type="submit" value="submit" class="btn btn-material-green-900" />

}
  
  <script type="text/javascript">

      $(function () {
          $.material.init();

          @for (int i = 0; i < Model.Cities.Count; i++)
         {

         <text>
               

          $('.shor@(Model.Cities[i].Id)').noUiSlider({
                        start: 1,
                        step:1,
                        range: {
                            min: 0,
                           
                            max: 365
                        },
                        format: wNumb({
                            decimals:0
                        })
                    });

          $('.shor@(Model.Cities[i].Id)').Link('lower').to($('#@(Model.Cities[i].Id)'));


         </text>
          }


          Sortable.create(TripList, {});
          
            });

  </script>

