@model SmartTrip.Models.CountryViewModel
    
@{
    ViewBag.Title = "Create a Country";
}


@using (Html.BeginForm("Create", "Country", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    
    <div class="form-group">
        @Html.LabelFor(x => x.Country.CountryName)
        @Html.EditorFor(x => x.Country.CountryName)
    </div>


    <div class="form-group">
        @Html.LabelFor(x => x.Country.ImageUrl)
        @Html.EditorFor(x => x.Country.ImageUrl)
    </div>


    <div class="form-group">

        <input type="file" name="file" id="file1" />
    </div>


    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
}