@model SmartTrip.Models.SceneryViewModel
    
@{
    ViewBag.Title = "Create a Scenery";
    
}
   

@using (Html.BeginForm("Create","Scenery",  FormMethod.Post, new { enctype = "multipart/form-data",@class="form-horizontal" }))
{
        @Html.AntiForgeryToken();

        <div class="form-group">
           
            @Html.TextBoxFor(x => x.Scenery.SceneryName,new{ @class="form-control" ,placeholder="Scenery Name"})
        </div>

        <div class="form-group">
           
            @Html.TextBoxFor(x => x.Scenery.Star, new { @class = "form-control", placeholder = "Star" })
        </div>

        
        <div class="form-group">
            
            @Html.TextBoxFor(x => x.Scenery.Summary, new { @class = "form-control", placeholder = "Summary" })
        </div>

        <div class="form-group">
            
            @Html.TextBoxFor(x => x.Scenery.Ticket, new { @class = "form-control", placeholder = "Ticket" })
        </div>

        <div class="form-group">
            
            @Html.TextBoxFor(x => x.Scenery.OpenTime, new { @class = "form-control", placeholder = "Open Time" })
        </div>

        <div class="form-group">
            
            @Html.TextBoxFor(x => x.Scenery.Traffic, new { @class = "form-control", placeholder = "Traffic" })
        </div>

        <div class="form-group">
            
            @Html.TextBoxFor(x => x.Scenery.WebUrl, new { @class = "form-control", placeholder = "Website" })
        </div>

        <div class="form-group">
           
            @Html.DropDownListFor(x => x.Scenery.Category,Model.Categories, new { @class = "form-control"})
        </div>

        <div class="form-group">
            
            @Html.TextBoxFor(x => x.Scenery.Telephone, new { @class = "form-control", placeholder = "Telephone" })
        </div>

        <div class="form-group">
           
            @Html.TextBoxFor(x => x.Scenery.Price, new { @class = "form-control", placeholder = "Price" })
        </div>

        <div class="form-group">
            
            @Html.DropDownListFor(x => x.Scenery.Currency,Model.Currencies, new { @class = "form-control" })
        </div>

       
        <div class="form-group">
            
            @Html.DropDownListFor(x => x.Scenery.CityId,Model.Cities, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <input type="text" readonly="" class="form-control floating-label" placeholder="Browse image..." />
            <input type="file" name="files" id="file1" />
            <input type="text" readonly="" class="form-control floating-label" placeholder="Browse image..." />
            <input type="file" name="files" id="file2" />
            <input type="text" readonly="" class="form-control floating-label" placeholder="Browse image..." />
              <input type="file" name="files" id="file3" />
        </div>

        
        <input type="submit" value="Create" class="btn btn-flat btn-raised btn-material-green-900" />
}
