@model SmartTrip.Models.CityViewModel

@{
    ViewBag.Title = "Edit a City";
}

<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">

            <img alt="@Model.City.CityName" src="@Url.Content("~/images/"+Model.City.ImageUrl)" />
            <div class="label label-default label-material-teal-500 "> @Model.City.CityName </div>

        </div>

    </div>
</div>


@using (Html.BeginForm("Edit","City",FormMethod.Post, new { @class = "form-horizotal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();

    <div class="form-group">
        
        @Html.TextBoxFor(x => x.City.CityName, new { @class = "form-control" })
    </div>
 
    
        <div class="form-group">
           
            @Html.TextBoxFor(x => x.City.Summary, new { @class = "form-control" })
        </div>

        <div class="form-group">
           
            @Html.DropDownListFor(x => x.City.CountryId, Model.Countries, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <input type="text" readonly="" class="form-control floating-label" placeholder="Browse image..." />
            <input type="file" name="file" />
        </div>

    <input type="submit" value="Save" class="btn btn-flat btn-raised btn-material-teal-500" />
}

