@model SmartTrip.Models.CityViewModel

@{
    ViewBag.Title = "Edit a City";
}

@using (Html.BeginForm("Edit","City",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();

    <div class="form-group">
        @Html.LabelFor(x => x.City.CityName)
        @Html.EditorFor(x => x.City.CityName)
    </div>
 

        <div class="form-group">
            @Html.LabelFor(x => x.City.ImageUrl)
            @Html.EditorFor(x => x.City.ImageUrl)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.City.Summary)
            @Html.EditorFor(x => x.City.Summary)
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.City.Country)
            @Html.DropDownListFor(x => x.City.CountryId, Model.Countries)
        </div>


    <input type="file" name="file" />

    <input type="submit" value="Save" class="btn btn-default" />
}

